{% extends 'layout/base.html.twig' %}

{% block title %} My Profile {% endblock %}

{% block body %}

    {% include 'layout/navbar.html.twig' %}

    {% include 'component/custom_type_message_top_fixed.html.twig' %}

    <div class="container-fluid" style="height: 100vh;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    {% if not is_granted('ROLE_SUPER_ADMIN') %}
                        <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert">
                            <img src="{{ asset('assets/img/svg/exclamation-triangle.svg') }}" alt="Warning" width="15"
                                 height="15" style="margin-top: -4px;">
                            Your Data will be deleted in few days.
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}


                    <h5 class="text-secondary mt-5">
                        My Profile
                        <small class="float-end small">
                            {% if is_granted('ROLE_USER') %}
                                <a href="{{ path('app_admin_index') }}" class="text-success fs-13 mb-0 pb-0">Dashboard</a>
                            {% endif %}
                        </small>
                    </h5>

                    <div class="bg-white rounded-3">

                        <div class="row p-3 py-lg-4">
                            <div class="col">
                                <img src="{{ asset('assets/img/avatar-160x160.png') }}" height="180px" alt="Avatar"
                                     style="border-radius: 15px;">
                            </div>
                            <div class="col-10">
                                <p class="text-secondary pt-3">Username: {{ app.user.name }}</p>
                                <p class="text-secondary">Email: {{ app.user.email }}</p>
                                <p class="text-secondary">Created: {{ app.user.createdAt|date('d.m.Y') }}</p>
                            </div>
                        </div>

                    </div>

                    <h5 class="text-secondary mt-5">General Setting</h5>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 g-3">
                        <div class="col">
                            <div class="card h-100 d-border py-lg-1">
                                <div class="card-body">
                                    <h6 class="card-title text-secondary mb-2" data-bs-toggle="modal"
                                        data-bs-target="#usernameModal">
                                        Username
                                    </h6>
                                    <small class="text-secondary">
                                        Change your Username.
                                        <span class="float-end text-light-50 pointer bi bi-pencil-square"></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 d-border py-lg-1">
                                <div class="card-body">
                                    <h6 class="card-title text-secondary mb-2" data-bs-toggle="modal"
                                        data-bs-target="#emailModal">
                                        E-mail Address
                                    </h6>
                                    <small class="text-secondary">
                                        Change your email.
                                        <span class="float-end text-light-50 pointer bi bi-pencil-square"></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 d-border py-lg-1">
                                <div class="card-body">
                                    <h6 class="card-title text-secondary mb-2" data-bs-toggle="modal"
                                        data-bs-target="#exportModal">
                                        Download Personal Data
                                    </h6>
                                    <small class="text-secondary">
                                        Download your data as JSON-Format.
                                        <span class="float-end text-light-50 pointer bi bi-download"></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 d-border py-lg-1">
                                <div class="card-body">
                                    <h6 class="card-title text-secondary mb-2" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal">
                                        Delete Account
                                    </h6>
                                    <small class="text-secondary">
                                        Request account deletion.
                                        <span class="float-end text-light-50 pointer bi bi-trash"></span>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h5 class="text-secondary mt-5">Support</h5>

                <p class="text-secondary pb-5 mb-5">
                    If you have any questions about your account, please use the
                    <a href="{{ path('app_contact_us_index') }}" class="text-success text-decoration-none">contact
                        form</a> or
                    <a href="mailto::{{ email }}" class="text-success text-decoration-none">email us</a> directly.
                </p>
            </div>
        </div>
    </div>

    {% include 'profile/modal/update_username.html.twig' %}
    {% include 'profile/modal/update_email.html.twig' %}
    {% include 'profile/modal/export.html.twig' %}
    {% include 'profile/modal/delete.html.twig' %}

    {% include 'layout/footer.html.twig' %}

{% endblock %}