{% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="modal fade removeModalAfterClick" id="exportSubscribersModal" tabindex="-1" role="dialog"
         aria-labelledby="exportSubscribersModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title modal-title-upper" id="exportSubscribersModalLabel">
                        {{ 'Export Subscribers Data'|trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ path('app_admin_newsletter_subscribers_export') }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="modal-body">

                        <div class="form-group">
                            <p>{{ 'Are you sure to export subscribers data?'|trans }}</p>
                        </div>

                        {% include 'admin/component/field/verify_password.html.twig' %}

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="subscribersCeckbox" name="justEmails">
                            <label class="form-check-label" for="subscribersCeckbox">
                                {{ 'Export just Emails'|trans }}
                            </label>
                        </div>

                        {% include 'admin/component/info/export_data.html.twig' %}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light btn-radius-50"
                                data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                        <button type="submit"
                                class="btn btn-primary btn-radius-50 rmModal">{{ 'Export them'|trans }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}